<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rust Axum Web Lab</title>
</head>
<body>
<H1>Hello {{ name }}</H1>

<div>
    <ul>
        <li><a href="languages/">Languages</a></li>
        <ul>
            <li><a href="languages/years/1972">Languages from year 1972 (path)</a></li></li>
            <li><a href="languages/year?year=1973">Languages from year 1973 (query)</a></li></li>
            <li><a href="languages/filter?year_to_exclusive=1960">Languages before 1960 (struct query)</a></li></li>
            <li><a href="languages/filter?year_from_inclusive=1960&year_to_exclusive=1970">Languages from the 1960es (struct query)</a></li></li>
            <li><a href="languages/filter?year_from_inclusive=1970">Languages from 1970- (struct query)</a></li></li>
        </ul>
        <li>Stateful</li>
            <ul>
                <li><a href="stateful/old">Old Languages</a></li></li>
                <li><a href="stateful/new">New Languages</a></li></li>
            </ul>
    </ul>
</div>

<script src="/assets/js/script.js"></script>
</body>
</html>